################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/be/WebApi/.vs/WebApi/v15
/be/WebApi/WebApi/obj/Release/Package/PackageTmp/bin
/be/WebApi/WebApi/obj/Release/Package
