<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Team024KnihaBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://labss2.fiit.stuba.sk/pis/ws/Students/Team024Kniha"
                binding="basicHttpBinding" bindingConfiguration="Team024KnihaBinding"
                contract="ServiceReference1.Team024KnihaPortType" name="Team024KnihaPort" />
        </client>
    </system.serviceModel>
</configuration>